/* ==================== */
/* Basic setup */
/* ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* ==================== */
/* Reuse elements */
/* ==================== */
.btn {
    color: #000000;
    font-size: 20px;
    padding: 15px 35px;
    border: 0;
}

/* ==================== */
/* Header part */
/* ==================== */

header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 25px;
    padding: 4% 12% 0 12%;

}

h1 {
    color: #272727;
    font-size: 45px;
    font-weight: 800;
}

.img {
    width: 100%;
    height: 100%;
}

.p-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
    line-height: 30px;
}

.one {
    width: 97%;
}

.primary {
    font-weight: 300;
    color: #fff;
    border-radius: 8px;
    background: #E55473;
}

/* ==================== */
/* Bonus section */
/* ==================== */
.bonus-h2 {
    color: #272727;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: 800;
}

.pic-div {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 50px auto;
    text-align: center;
    gap: 20px;
}

.pic-1>img {
    width: 250px;
    height: 400px;
}

.pic>img {
    height: 300px;
}

.pic-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 400px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 50px 0 50px;
}

.pic-2 {
    background: rgba(5, 151, 160, 0.15);
    padding: 80px 50px 0 50px;
}

.pic-3 {
    background: rgba(71, 125, 17, 0.15);
}

/* ==================== */
/* Free Support section */
/* ==================== */

.free-section {
    margin: 3% 13%;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px 50px;
}

.free-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.free-img-1 {
    background-image: url("./Asset/Group57.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    margin: auto;
}

.free-img-2 {
    background-image: url("./Asset/Group58.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    margin: auto;


}

.free-img-3 {
    background-image: url("./Asset/Group59.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    margin: auto;


}

.free-h4 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
}

/* ==================== */
/* Optional Section */
/* ==================== */
.full-img {
    background-image: url("./Asset/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 100px;
}

.op,
.opp {
    color: #FFF;
    text-align: justify;
    width: 60%;
    margin: auto;
}

.op {
    padding-top: 100px;
}

/* ==================== */
/* Hot Deal section */
/* ==================== */
.Hot {
    margin: 100px 0;
    background: rgba(229, 84, 115, 0.05);
    padding: 5% 15%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;
}

.Hot-h2 {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
}

span {
    color: #E55473;
}

.prim {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
}

/* ==================== */
/* Instagram section */
/* ==================== */
.insta-h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 25px;
}

.des {
    text-align: center;
    padding: 0 30%;
    padding-bottom: 40px;
}

.Instagram-section {
    margin-bottom: 100px;
}

.main-div {
    display: flex;
    gap: 20px;
    padding: 0 13%;
}

.div {
    background-image: url(./Asset/Flower01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 330px;
}

.div-1 {
    background-image: url(./Asset/Flower01.png);
}

.div-2 {
    background-image: url(./Asset/Rectangle4.png);
}

.div-3 {
    background-image: url(./Asset/Rectangle\ 5.png);
}

.div-4 {
    background-image: url(./Asset/Rectangle\ 6.png);
}

/* ==================== */
/* Latest Deals section */
/* ==================== */
.Latest-Deals {
    border-radius: 8px;
    background-image: url("./Asset/Rectangle9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 74%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 100px;
}

.latest-h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

input {
    border-radius: 8px;
    background: #FFF;
    padding: 20px 300px 20px 20px;
    border: 0;
}

.sub {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
}

/* ==================== */
/* Footer section */
/* ==================== */
footer {
    background: #111010;
    padding: 6% 19%;
}

.footer-h2 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
}

.footer-des {
    text-align: center;
    color: #FFF;
    padding: 0 20%;
}

.footer-l {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    padding-top: 20px;
}


.header-content {
    width: 50%;
}

.header-img {
    width: 50%;
}

/* ==================== */
/* Responsive Part */
/* ==================== */
.none {
    display: none;
}

/* Large Device responsive */
@media screen and (min-width: 1024px) {
    .btn {
        margin-bottom: 20px;
    }
}

/* Medium Device responsive */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }

    header {
        padding: 50px;
        height: auto;
        width: auto;
    }
}

/* Small Device responsive */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 25px;
    }

    header {
        flex-direction: column-reverse;
        padding: 30px;
        height: auto;
    }

    .btn {
        font-size: 16px;
        padding: 12px 30px;
        margin-bottom: 20px;
    }

    .img {
        width: 100%;
        height: 300px;
    }

    .footer-h2 {
        font-size: 30px;
    }

    .footer-des {
        text-align: center;
        color: #FFF;
        padding: 0 5%;
    }

    footer {
        background: #111010;
        padding: 5% 10%;
    }

    .p-description {
        font-size: 14px;
    }
}