/* ==================== */
/* Basic setup */
/* ==================== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* ==================== */
/* Reuse elements */
/* ==================== */
.btn {
    color: #000000;
    font-size: 20px;
    padding: 15px 35px;
    border: 0;
}

/* ==================== */
/* Header part */
/* ==================== */

header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 25px;
    padding: 0 12%;
}

h1 {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
}

.img {
    width: 100%;
    height: 100%;
}

.p-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
    line-height: 30px;
}

.primary {
    font-weight: 300;
    color: #fff;
    border-radius: 8px;
    background: #E55473;
}

/* ==================== */
/* Bonus section */
/* ==================== */
.bonus-h2 {
    color: #272727;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: 800;
}

/* ==================== */
/* Hot Deal section */
/* ==================== */
.Hot {
    margin: 100px 0;
    background: rgba(229, 84, 115, 0.05);
    padding: 5% 15%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;
}

.Hot-h2 {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
}

span {
    color: #E55473;
}

.prim {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
}

/* ==================== */
/* Instagram section */
/* ==================== */
.insta-h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 25px;
}

.des {
    text-align: center;
    padding: 0 30%;
    padding-bottom: 40px;
}

.Instagram-section {
    margin-bottom: 100px;
}

.main-div {
    display: flex;
    gap: 20px;
    padding: 0 13%;
}

.div {
    background-image: url(./Asset/Flower01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 330px;
}

.div-1 {
    background-image: url(./Asset/Flower01.png);
}

.div-2 {
    background-image: url(./Asset/Rectangle4.png);
}

.div-3 {
    background-image: url(./Asset/Rectangle\ 5.png);
}

.div-4 {
    background-image: url(./Asset/Rectangle\ 6.png);
}

/* ==================== */
/* Latest Deals section */
/* ==================== */
.Latest-Deals {
    border-radius: 8px;
    background-image: url("./Asset/Rectangle9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 74%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 100px;
}

.latest-h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

input {
    border-radius: 8px;
    background: #FFF;
    padding: 20px 300px 20px 20px;
    border: 0;
}

.sub {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
}

/* ==================== */
/* Footer section */
/* ==================== */
footer {
    background: #111010;
    padding: 6% 19%;
}

.footer-h2 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
}

.footer-des {
    text-align: center;
    color: #FFF;
    padding: 0 20%;
}

.footer-l {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    padding-top: 20px;
}