/* ==================== */
/* Basic setup */
/* ==================== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* ==================== */
/* Reuseal elements */
/* ==================== */
.btn {
    color: #000000;
    font-size: 20px;
    padding: 15px 35px;
    border: 0;

}

/* ==================== */
/* Header part */
/* ==================== */

header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 25px;
    padding: 0 12%;
}

h1 {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
}

.img {
    width: 100%;
    height: 100%;
}

.p-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
}

.primary {
    font-weight: 300;
    color: #fff;
    border-radius: 8px;
    background: #E55473;
}

/* ==================== */
/* Hot Deal section */
/* ==================== */
.Hot {
    margin: 100px 0;
    background: rgba(229, 84, 115, 0.05);
    padding: 5% 15%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;
}

.Hot-h2 {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
}

span {
    color: #E55473;
}
.prim{    
    color: #FFF;
font-size: 16px;
font-weight: 700;
    border-radius: 8px;
background: #E55473;
}